@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body {
  height: 100%;
  width: 100%;
}

*{
  margin: 0;
  padding: 0;
}

body {
  background-color:  rgb(30 41 59);
   font-family: 'Poppins', sans-serif;
color: white;
}

.title {
background: rgb(255,0,0);
background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(0,255,34,1) 50%, rgba(25,0,255,1) 100%);
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.container, .container2, .container3  {
  display: flex;
    justify-content: center;
  margin-top: 100px;
}

.about, .ability, .contact {
      padding: 0.725rem;
    width: 600px;
    height: 300px;
    border-radius: 0.4rem;
    background-color: #212529;
    color: #f1f3f5;
    box-shadow: 0 0.25rem 0.75rem 0.25rem #f1f3f530;
}

.titleabout, .titleability, .titlecontact {
   display: flex;
    justify-content: center;
}

.lineabout, .lineability, .linecontact  {
margin-top: 1rem;
}

.instagram, .discord {
  color: white;
  text-decoration: none;
}

img{
  width: 50px;

}



.bar{
  display:flex;
  width: 100%;
  align-items: center;
margin-top: 10px;
}


.progress-bar{
  display:flex;
  width: 100%;
  background-color: gray;
  height: 20px;
  margin-left: 1rem;
  margin-right: 1rem;
    border-radius: 10px;
}

.progress{
  background-color: blue;
  width:85%;
    border-radius: 10px;
}


.bar2{
  display:flex;
  width: 100%;
  align-items: center;
  margin-top: 45px;
}

.progress-bar2{
  display:flex;
  width: 100%;
  background-color: gray;
  height: 20px;
  margin-left: 1rem;
  margin-right: 1rem;
    border-radius: 10px;
}

.progress2{
  background-color: blue;
  width: 70%;
    border-radius: 10px;
}


.bar3{
  display:flex;
  width: 100%;
  align-items: center;
  margin-top: 45px;
}

.progress-bar3{
  display:flex;
  width: 100%;
  background-color: gray;
  height: 20px;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 10px;
}

.progress3{
  background-color: blue;
  width: 0%;
    border-radius: 10px;
}

.progress-bar:hover{
opacity: 0.8;
}

.progress-bar2:hover{
opacity: 0.8;
}

.progress-bar3:hover{
opacity: 0.8;
}